
<section class="oe_container oe_dark lead">
   <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Email Verification</h2>
                <h3 class="oe_slogan">Send token based emails to the customers on signup. Restrict checkout for unverified accounts.</h3>

    </div>
</section>
<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
        <div class="alert alert-info" style="font-weight: 300; font-size: 20px;box-shadow: 0px 0px 10px 0px grey;">
		  <center><div style="box-shadow:8px 7px 15px #888888;color : #98437F"><i class="fa fa-hand-o-down"></i><b> Salient features</b></div></center>
            <ul class="list-unstyled" style="padding:20px; color:black">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				<b>Send token based emails</b> for verification to the customers while signup.
			  </li>
              <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Set the validity of the tokens in the configuration by your own.
			  </li>
               <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Accounts will not be activated until email is verified.
			  </li>
               <li>
				<i class="fa fa-check-square-o text-primary"></i>
				On clicking the link sent to the mail you will be redirected to a simple page.
			  </li>
               <li>
				<i class="fa fa-check-square-o text-primary"></i>
				<b>Restrict unverified </b> users from checkout.
			  </li>
               <li>
				<i class="fa fa-check-square-o text-primary"></i>
				<b>Resend email</b> if the verifying link is expired or user wants a new email.
			  </li>
			    <li>
				<i class="fa fa-check-square-o text-primary"></i>
				<b>Automatic redirection to login after clicking on the valid email link.
			  </li>
			</ul>
		</div>
      		
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#3b5998;">Basic Requirements</h2>
        <ul >
            <li><h3>There should be <b>dbfilter</b> and <b>db_name</b> used in the config file of your server.</h3></li>
            
        </ul>
        
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Configuration</h2>
       
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="img1.png">
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Restriction on unverified emails or expired tokens</h2>
        
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="img2.png">
        </div>
         <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="img3.png">
        </div>
        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Page displayed on clicking the link sent via email</h2>
        
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="img4.png">
        </div>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="img5.png">
        </div>
        
       
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Customizable Email Template</h2>
        <div class="oe_span12">
            <img class="oe_picture oe_screenshot" src="img6.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Complimentary Support</h2>
            <p>You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type
                of issue related to this module.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span>
            <a onmouseover="this.style.color='#AC1EE0'" onmouseout="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a>
        </span>
            <img src="icon-support.png">
            <span>
                <a onmouseover="this.style.color='#AC1EE0'" onmouseout="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a>
            </span>
            <img src="icon-features.png">
            <span>
                <a onmouseover="this.style.color='#AC1EE0'" onmouseout="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a>
            </span>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=EMAIL-VERIFICATION-AND-GUEST-CHECKOUT-RESTRICION&url=https://apps.openerp.com/apps/modules/11.0/email_verification&uid=email_verification"
            style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>

