<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class='oe_container oe_dark'>
    <section class="oe_container oe_dark lead">
        <div class="oe_row oe_spaced" style="max-width:100%">
            <h2 class="oe_slogan" style="color:#875A7B;">
                Ecommerce New Product Requisition
            </h2>
            <p class="oe_mt16" style="text-align:justify">
                Do not let your product catalogue be the only options for your customers. 
                Expand your website by letting them speak their mind with 
                Odoo E-commerce New Product Requisition Module. 
                It allows the customers to put in request for any specific products related 
                inquiry from their account on the Odoo website.
            </p>
            <p class="oe_mt16" style="text-align:justify">
                It can be a request for a new product outside the store collection 
                or a simple custom modification to the existing products, the customers 
                can simply fill the custom product request form through their Odoo website account. 
                Any relevant informative file, image etc can also be attached with the form.
            </p>
            <p class="oe_mt16" style="text-align:justify">
                Request Approval and cancellation mail notifications are automatically sent to the customer. 
                Once the approved request is fulfilled, a new product can be created for purchase on the website.
            </p>
        </div>
        <div class="oe_row" style="max-width:100%">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 25px;">
                        <i class="fa fa-mail-forward"></i> Features:</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            The customers can request for any product absent from the product catalogue on the website.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            The mail notifications about the approval and cancellation of the
                            Product Requisition are automatically sent to the customer.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Once the processing is complete, the admin can create the product and made 
                            it available for purchase on the website.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            The product link automatically appears in the Product requisition 
                            in the customer's account once the request is processed.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#website_product_requisition_website_view">
                    <h3 class="panel-title">
                        <i class="fa fa-globe"></i>
                        <b>Website View</b>
                    </h3>
                </a>
            </li>
            <li>
                <a href="#website_product_requisition_view_admin">
                    <h3 class="panel-title">
                        <i class="fa fa-user"></i>
                        <b>Admin View</b>
                    </h3>
                </a>
            </li>
            <li>
                <a href="#website_product_requisition_change_log_tab">
                    <h3 class="panel-title">
                        <i class="fa fa-code"></i>
                        <b>Change Log</b>
                    </h3>
                </a>
            </li>
        </ul>

        <div id="my-tab-content" class="">
            <div class="tab-pane" id="website_product_requisition_website_view">
                <h2 style='text-align: center;'>
                    <i class="fa fa-globe"></i>
                    <b>Website View</b>
                </h2>
                <section class="oe_container oe_dark">
                    <div class="oe_row" style="max-width:100%">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Product Requisition</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b> Submit a requisition. </b>
                                </div>
                                <a href="screenshot/NPR01.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR01.png">
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b> Guest customer can also submit a requisition. </b>
                                </div>
                                <a href="screenshot/NPR02.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR02.png">
                                </a>
                                <a href="screenshot/NPR03.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR03.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="oe_container oe_dark">
                    <div class="oe_row" style="max-width:100%">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Requisition Status</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b>Registered customers can check there requisition status along with email notification. </b>
                                </div>
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b>While guest customers only will be notified by email. </b>
                                </div>
                                <a href="screenshot/NPR04.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR04.png">
                                </a>
                                <a href="screenshot/NPR05.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR05.png">
                                </a>
                                <a href="screenshot/NPR06.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR06.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="active" id="website_product_requisition_view_admin">
                <h2 style='text-align: center;'>
                    <i class="fa fa-user"></i> Admin View
                </h2>
                <section class="oe_container oe_dark">
                    <div class="oe_row" style="max-width:100%">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Product Requisitions</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b> All Requisitions.</b>
                                </div>
                                <a href="screenshot/NPR07.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR07.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="oe_container oe_dark">
                    <div class="oe_row" style="max-width:100%">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Process Requisitions</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b>Approve</b>
                                </div>
                                <a href="screenshot/NPR08.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR08.png">
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b>Create Product</b>
                                </div>
                                <a href="screenshot/NPR09.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR09.png">
                                </a>
                                <a href="screenshot/NPR10.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR10.png">
                                </a>
                                <a href="screenshot/NPR11.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR11.png">
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b>Cancel</b>
                                </div>
                                <a href="screenshot/NPR12.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/NPR12.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane" id="website_product_requisition_change_log_tab">
                <h2 style='text-align: center;'>
                    <i class="fa fa-code"></i>
                    <b>Change Log</b>
                </h2>
                <section class="oe_container oe_dark">
                    <div class="oe_row" style="max-width:100%">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Module Change Log</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Notations description used in this document.
                                </p>
                                <ul class="list-unstyled ">
                                    <li>
                                        <i class="fa fa-plus text-success"></i> [Features Added]</li>
                                    <li>
                                        <i class="fa fa-minus text-danger"></i> [Features Removed]</li>
                                    <li>
                                        <i class="fa fa-bug text-warning"></i> [Bug Fixed]</li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-plus-circle"></i>
                                    <b> App Released version 1.0.0</b>
                                    <b style="float:right"> Released In July, 2018 </b>
                                </div>
                                <div class="oe_span12" style="max-width:100%">
                                    <p>
                                        <i class="fa fa-plus text-success"></i>
                                        The customers can request for any product absent
                                        from the product catalogue on the website.
                                    </p>
                                    <p>
                                        <i class="fa fa-plus text-success"></i>
                                        The mail notifications about the approval and cancellation of the
                                        Product Requisition are automatically sent to the customer.
                                    </p>
                                    <p>
                                        <i class="fa fa-plus text-success"></i>
                                        Once the processing is complete, the admin can create
                                        the product and made it available for purchase on the website.
                                    </p>
                                    <p>
                                        <i class="fa fa-plus text-success"></i>
                                        The product link automatically appears in the Product requisition 
                                        in the customer's account once the request is processed.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row" style="max-width:100%">
        <div class="oe_span12" style="max-width:100%">
            <h2 class="oe_slogan">Complimentary Support</h2>
            <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related
                to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced" style="max-width:100%">
        <div class="oe_span12" style="max-width:100%">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Help</a>
            </span>
            <img src="icon-support.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Support</a>
            </span>
            <img src="icon-features.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Request new Features</a>
            </span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12" style="max-width:100%">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=ODOO-QUEUE-MANAGEMENT&url=https://apps.openerp.com/apps/modules/12.0/website_product_requisition&uid=website_product_requisition"
            style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>