<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class='oe_container oe_dark'>
    <section class="oe_container oe_dark lead">
        <div class="oe_row oe_spaced" style="max-width:100%">
            <h2 class="oe_slogan" style="color:#875A7B;">
                Website Stop/Block Content Copy
            </h2>
            <h3 class="oe_slogan">
                Protect content on website
            </h3>
            <p class="oe_mt16" style="text-align:justify">
                Published content on your website is always vulnerable to exploitation.
                Odoo Website Stop/Block Content Copy Module can help your website against 
                content plagiarism and effectively stop the content from being copied from 
                the website and used without permission. You disable the Cut, Copy, Paste and 
                Right Click functions on your webpage. Moreover, you can also disable the
                Inspect Element Tool from being displayed by using function Key(F12) and/or keyboard shortcut.
            </p>
        </div>
        <div class="oe_row" style="max-width:100%">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 25px;">
                        <i class="fa fa-mail-forward"></i> Features:</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Disable right click on website page.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Disable Copy, Cut, Paste (Ctrl+C, Ctrl+V, Ctrl+X) on website page.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Disable Ctrl+U on website page.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Disable Ctrl+S on website page.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Disable Ctrl+Shift+I on website page.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                             Disable Ctrl+Shift+C on website page.
                        </li>
                        <li>
                            <i class="fa fa-check text-primary"></i>
                            Disable F12 key
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <div id="my-tab-content" class="">
            <div class="active" id="queue_management_view_admin">
                <h2 style='text-align: center;'>
                    <i class="fa fa-cogs"></i> Configuration</h2>
                <section class="oe_container oe_dark">
                    <div class="oe_row" style="max-width:100%">
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <b>Configuration</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                    <b> Select the option to disable them on website pages</b>
                                </div>
                                <a href="screenshot/WSC01.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/WSC01.png">
                                </a>
                                <a href="screenshot/WSC02.png">
                                    <img class="img-border img-responsive thumbnail" src="screenshot/WSC02.png">
                                </a>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row" style="max-width:100%">
        <div class="oe_span12" style="max-width:100%">
            <h2 class="oe_slogan">Complimentary Support</h2>
            <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related
                to this module.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced" style="max-width:100%">
        <div class="oe_span12" style="max-width:100%">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Help</a>
            </span>
            <img src="icon-support.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Support</a>
            </span>
            <img src="icon-features.png">
            <span>
                <a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
                    href="https://webkul.com/ticket/open.php">Request new Features</a>
            </span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12" style="max-width:100%">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-BLOCK-CONTENT-COPY&url=https://apps.openerp.com/apps/modules/12.0/website_block_content_copy&uid=website_block_content_copy"
            style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>