<section class="container">
   <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Cancel & Reset Picking to Draft In Odoo</h2>
        
       
        <h2 class="oe_slogan" >OVERVIEW</h2>
	    <p align="center" class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
		This module allows you to cancel processed picking & set back to draft.
		</p>    
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" style="width:45%;">
           <a style="color:white;font-size:28px;font-family: &quot;Lato&quot;, &quot;Open Sans&quot;, &quot;Helvetica&quot;, Sans;font-weight: bold;word-spacing: 2px;" href=" https://www.emiprotechnologies.com/free-trial?app=cancel-stock-picking-ept&version=12&edition=enterprise " target="_blank"> <div class="contct_us_btn" style="padding:23px;margin: 0 auto;display: block;background-color: #8F3F79;text-align: center;font-weight: bold;box-shadow: 2px 1px 12px 3px #ece6e6;">
            	Request a Free Demo<div></div>
            </div></a>
    </div>
</section>



<section class="container-fluid">
    <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="font-weight:;font-size:33px;">Quick View</h2>
         
		  
		  <ul style="list-style-type:square">
			<li>Allows users to cancel processed / validated stock picking in Odoo</li> <br>
			<li>After cancel, user can set it back to Draft & delete it if needed.</li><br>
			<li>It will also manage Quants when canceling processed picking.</li><br>
			<li>Remove Journal Entries which is created for stock valuation if any.</li> <br>
		  </ul>
		  
		  		  
		  </div>
    
</section>

<section class="container">
    <div class="oe_row oe_spaced mt4" >
        <h2 class="oe_slogan" ></h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="1.png" />
	        </div>
			<p align="center" class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
			<b>Note:</b>In case from the Setting >> Location >> You have checked check box "Do not check reserved quantity when cancel the Purchase Order."
			</p>
			
			<p align="center" class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
			It will cancel the picking order irrespective of the stock is being reserved or not. Except in case the stock is being delivered.
			</p>    
	        <div class="oe_mt32" >
	            <img class="img img-responsive" src="2.png" />
	        </div>
	      
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced mt4" >
        <h2 class="oe_slogan" >3 Steps verification flow pickings</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="a.png" />
	        </div>
	        <div>&nbsp;</div>
	        <div class="oe_mt32" >
	            <img class="img img-responsive" src="b.png" />
	        </div>
	      
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced mt4" >
        <h2 class="oe_slogan" >Cancel pickings and get products stock back in warehouse</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="c.png" />
	        </div>
	        <div>&nbsp;</div>
			<div class="oe_mt32" >
	            <img class="img img-responsive" src="d.png" />
	        </div>
	      
    </div>
</section>






<div class="oe_row oe_spaced">      	
        	<h2 class="oe_slogan">You may also like</h2>
        	<div style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/all_in_one_barcode_scanning_ept/" target="_blank"><img class="img img-responsive" src="All-In-One-scanning.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/all_in_one_cancel_reset_ept/" target="_blank"><img class="img img-responsive" src="All-In-One-Cancle-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/11.0/all_in_one_inventory_report_ept/" target="_blank"><img class="img img-responsive" src="All-In-One-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					<a href="https://apps.odoo.com/apps/modules/12.0/all_in_one_imports_xls_ept/" target="_blank"><img class="img img-responsive" src="All-in-one-import-cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/report_sale_profitability_ept/" target="_blank"><img class="img img-responsive" src="Product-Profitability-Report-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div> 
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/customer_review_global_channel_ept/" target="_blank"><img class="img img-responsive" src="Feedback-email-to-customers-for-Product-Review-COVER-iCON.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/suggested_recipients_ept/" target="_blank"><img class="img img-responsive" src="Improvised-Email-Sending-Options-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/sale_order_confirm_transfer/" target="_blank"><img class="img img-responsive" src="Automated-Sales-Order-Processing-Cover.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				<div class="col-xs-4 mt16">
					 <a href="https://apps.odoo.com/apps/modules/12.0/sale_order_stock_check/" target="_blank"><img class="img img-responsive" src="main_screen.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div> 

			</div>
			
</div>



<section class="container">
	<div class="oe_row oe_spaced" style="width: 100%; margin-top: 30px;">
		<div class="contct_us_btn"
			style="padding: 7px; margin: 0 auto; display: block; width: 20%; background-color: #087dda; text-align: center;">
			<a style="color: white; font-size: 20px;"
				href="http://www.emiprotechnologies.com/odoo-apps-support" target="_blank">Get Support</a>
		</div>
	</div>
</section>
