<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Sale Order Tripple Approval Process</b></h2>
            <h3 class="oe_slogan" style="opacity: 1;">This app helps you to tripple approval process for sale order while confirming sale order 
         </h3>
        </div>
    </div>
</section>





<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12" style="width: 828px;">
            <div class="panel panel-primary" id="wkid0" style="border-color: #528df3 !important;">
            <div class="panel-heading" style="background-color: #528df3 !important;">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>Key Features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Sale Order approval process: Sale Manager -> Finance Manager  -> Director  </li>
                        
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>After Install,This App will add approval buttons on sale order based on configuration in company's sale tripple approval setting.Enable Three Step Approval . Let's say SO Double validation amount = 1000 and SO is more then 1000 then it require approval for assign user , then if Finanace validation amount = 5000 then if SO amount is more then 5000 it will require two level approval process for assign user and  then if Director validation amount =10000 then if SO amount is more than 10000 it will require three level approval process for assign user.</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can set three step verification approval process on Sale Orders</li>
                         <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can set a limit amount on Sale Order as Two and Three Step Verification</li>
                          <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>If Order's Total Amount exceeds the pre-defined finance limit,then Flow will be Two Step purchase validation process.</li>
                          <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>If Order's Total Amount exceeds the pre-defined  director limit of three step,then Flow will be Three Step validation process.</li>
                          <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Email Notification will sent to Next Level Person to Approve</li>

                       
                    </ul>
                </div>
                </div>
                </div>
        </div>
    </section>
    </section>

<br/>

<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span>How To Use</span></h4>
    </div>
</section>
<br>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
			<h3 class="text-info" style="font-size: 25px;">Once module is installed configure the company with the "Sales tripple approval settings".</h3>
            <br/>
            
              <h2>  <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Setup & Configure</span></h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="Browseinfo - Odoo.png">
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Customize groups for user.</h3>
            <br/>
            
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="Administrator - Odoo.png">

        </div>
    </section>

<section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;"> Sale Order.</h3>
            <br/>
           
             <h2>   <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Sale order with more total amount then pre defined validation amount in company. </span></h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="confirm_order_button.png">
                
            
        </div>
    </section>
<section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Sale Order approval details.</h3>
            <br/>
                <h2>
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Set Sales Manager/Finance Manager/Director for sale order.</span>
                </h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="approve_details.png">
            <h3 class="text-info" style="font-size: 25px;">Email Notification to Next Level Person to Approve</h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="manager_email.png"> 
            
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Sale order sales manager approval menu </h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="Sales Manager Orders   Odoo.png">
            <br/>
            <h3 class="text-info" style="font-size: 25px;">Sales Manager approval Button </h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="approve_button.png">
                
            
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Email Notification to Next Level Person to Approve</h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="finanance _email.png">
            
            
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Sales Order for Finance Approve Menu</h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="Finanace Manager Orders   Odoo.png">
            <br/>
            <h3 class="text-info" style="font-size: 25px;">Finance Manager approval Button </h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="finance_approve_button.png">
                
            
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Email Notification to Next Level Person to Approve</h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="director_email.png">
            
            
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Sales Order for Director Approve Menu</h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="Sales Director Orders   Odoo.png">
            <br/>
            <h3 class="text-info" style="font-size: 25px;">Director approval Button </h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="director_approve_button.png">
                
            
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Approval dates for sale order</h3>
            <br/>
            <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="approve_dates.png">
            
            
            
        </div>
    </section>


<!--  <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <br/>
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Product Bundle Filter in product kanban view.</span></li>
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">You can see product details in product bundle pack.</span></li>
                </ul>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="filter.png"/>
            </div>
        </div>
    </section> -->

    
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
                At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
                <div class="oe_row oe_spaced">
                        <div class="oe_span12">
                                <h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
                                        <a href="sales@browseinfo.in" style="color: #000000 !important;">
                                                Get Help &amp; Support</a>
                                </h2>
                        </div>
                        <br>
                        <div class="oe_slogan oe_spaced text-center">
                                <a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
                        </div>
                </div>
        </section>