<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->

<section class='oe_container oe_dark'>
	<section class="oe_container oe_dark lead">
		<div class="oe_row oe_spaced" style="max-width:100%">
			<h2 class="oe_slogan" style="color:#875A7B;">
				Website Social Share
			</h2>
			<p class="oe_mt16" style="text-align:justify">
				Social network is a great platform for advertising a product. Our module allows you to share your products on various social
				networking platforms such as facebook, twitter,whatsapp, and Google plus and hence increases the product's reach up to a
				large number of social networking users who could be the next loyal customer of your website.
			</p>
		</div>
		<div class="oe_row" style="max-width:100%">
			<div class="panel panel-primary" id="wkid0">
				<div class="panel-heading">
					<h3 class="panel-title" style="font-size: 25px;">
						<i class="fa fa-mail-forward"></i> Features:</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>
							<i class="fa fa-check text-primary"></i>
							Allows the customer to share products on social media platforms.
						</li>
						<li>
							<i class="fa fa-check text-primary"></i>
							Admin can add or remove multiple social media platforms on website.
						</li>
						<li>
							<i class="fa fa-check text-primary"></i>
							Currently there are seventeen social network platforms available for sharing.
						</li>
						<li>
							<i class="fa fa-check text-primary"></i>
							Requested media platforms can be implemented.
						</li>
						<li>
							<i class="fa fa-check text-primary"></i>
							Customer can copy the product page link in one click.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="oe_container">
		<ul class="nav nav-tabs ">
			<li class="active">
				<a href="#social_sahring_tab1">
					<h3 class="panel-title">
						<i class="fa fa-globe"></i>
						<b>Website View</b>
					</h3>
				</a>
			</li>
			<li>
				<a href="#social_sahring_tab2">
					<h3 class="panel-title">
						<i class="fa fa-user"></i>
						<b>Configuration</b>
					</h3>
				</a>
			</li>
			<li>
				<a href="#social_sahring_tab3">
					<h3 class="panel-title">
						<i class="fa fa-code"></i>
						<b>Change Log</b>
					</h3>
				</a>
			</li>
		</ul>

		<div id="my-tab-content" class="">
			<div class="tab-pane" id="social_sahring_tab1">
				<h2 style='text-align: center;'>
					<i class="fa fa-globe"></i>
					<b>Website View</b>
				</h2>
				<section class="oe_container oe_dark">
					<div class="oe_row" style="max-width:100%">
						<div class="panel panel-primary" id="wkid0">
							<div class="panel-heading">
								<h3 class="panel-title">
									<b>Website Product Share</b>
								</h3>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>Share icons will be visible on the product page.</b>
								</div>
								<a href="screenshot/WSHR004.png">
									<img class="img-border img-responsive thumbnail" src="screenshot/WSHR004.png">
								</a>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>Click on different share icons for sharing the product on different social media platforms.</b>
								</div>
								<a href="screenshot/WSHR005.png">
									<img class="img-border img-responsive thumbnail" src="screenshot/WSHR005.png">
								</a>
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>A pop up window will open for sharing the product</b><br/>
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>Here is the exmple of Facebook.</b>
								</div>
								<a href="screenshot/WSHR006.png">
									<img class="img-border img-responsive thumbnail" src="screenshot/WSHR006.png">
								</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="active" id="social_sahring_tab2">
				<h2 style='text-align: center;'>
					<i class="fa fa-user"></i> Admin View
				</h2>
				<section class="oe_container oe_dark">
					<div class="oe_row" style="max-width:100%">
						<div class="panel panel-primary" id="wkid0">
							<div class="panel-heading">
								<h3 class="panel-title">
									<b>Enable the Social Media Platform for Sharing</b>
								</h3>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>configure social media sharing settings</b>
								</div>
								<a href="screenshot/WSHR001.png">
									<img class="img-border img-responsive thumbnail" src="screenshot/WSHR001.png">
								</a>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>Enable the sharing feature</b>
								</div>
								<a href="screenshot/WSHR002.png">
									<img class="img-border img-responsive thumbnail" src="screenshot/WSHR002.png">
								</a>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-arrow-circle-o-right"></i>
									<b>Select the different social media platform to allow sharing the product</b>
								</div>
								<a href="screenshot/WSHR003.png">
									<img class="img-border img-responsive thumbnail" src="screenshot/WSHR003.png">
								</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="tab-pane" id="social_sahring_tab3">
				<h2 style='text-align: center;'>
					<i class="fa fa-code"></i>
					<b>Change Log</b>
				</h2>
				<section class="oe_container oe_dark">
					<div class="oe_row" style="max-width:100%">
						<div class="panel panel-primary" id="wkid0">
							<div class="panel-heading">
								<h3 class="panel-title">
									<b>Module Change Log</b>
								</h3>
							</div>
							<div class="panel-body">
								<p>
									Notations description used in this document.
								</p>
								<ul class="list-unstyled ">
									<li>
										<i class="fa fa-plus text-success"></i> [Features Added]</li>
									<li>
										<i class="fa fa-minus text-danger"></i> [Features Removed]</li>
									<li>
										<i class="fa fa-bug text-warning"></i> [Bug Fixed]</li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="alert alert-info">
									<i class="fa fa-plus-circle"></i>
									<b> App Released version 1.0.0</b>
									<b style="float:right"> Released in December 2017 </b>
								</div>
								<div class="oe_span12" style="max-width:100%">
									<p>
										<i class="fa fa-plus text-success"></i>
										Allows the customer to share products on social media platforms.
									</p>
									<p>
										<i class="fa fa-plus text-success"></i>
										Admin can add or remove multiple social media platforms on website.
									</p>
									<p>
										<i class="fa fa-plus text-success"></i>
										Currently there are seventeen social network platform available for sharing.
									</p>
									<p>
										<i class="fa fa-plus text-success"></i>
										Requested media platform can be implemented.
									</p>
									<p>
										<i class="fa fa-plus text-success"></i>
										Customer can copy the product page link in one click.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row" style="max-width:100%">
		<div class="oe_span12" style="max-width:100%">
			<h2 class="oe_slogan">Complimentary Support</h2>
			<p>
				You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related
				to this module.
			</p>
		</div>
	</div>
	<div class="oe_row oe_spaced" style="max-width:100%">
		<div class="oe_span12" style="max-width:100%">
			<h2 class="oe_slogan">Help and Support</h2>
		</div>
		<div class="oe_slogan oe_spaced">
			<img src="icon-help.png">
			<span>
				<a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
				 href="https://webkul.com/ticket/open.php">Help</a>
			</span>
			<img src="icon-support.png">
			<span>
				<a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
				 href="https://webkul.com/ticket/open.php">Support</a>
			</span>
			<img src="icon-features.png">
			<span>
				<a onMouseOver="this.style.color='#AC1EE0'" onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank"
				 href="https://webkul.com/ticket/open.php">Request new Features</a>
			</span>
		</div>
	</div>
</section>

<section class="oe_container">
	<div class="oe_span12" style="max-width:100%">
		<!-- Piwik Image Tracker-->
		<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=Website Social Share&url=https://apps.openerp.com/apps/modules/12.0/social_sharing&uid=social_sharing"
		style="border:0" alt="" />
		<!-- End Piwik -->
	</div>
</section>