.prod_publish {
    background-color : #f5f5f5;
}

.o_portal_my_req_table th {
    background-color: #dde1d8 !important;
}


.button_req {
    background: #41C247;
    border: 1px solid #3BB941;
    box-shadow: 0 0 4px 1px rgba(207,206,206,0.50);
    padding: 7px;
    border-radius: 5px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.req_form {
    padding: 2%;
    width: 37.2%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(155,155,155,0.50);
    border-radius: 10px;
}

#req_header {
    margin: 50px auto 10px auto;
    width: 37.2%;
    font-family: Arial-BoldMT;
    font-size: 20px;
    color: #545454;
    letter-spacing: 0;
}

#req_image {
    margin-top: 10px;
    display: none;
}