<!-- Copyright (c) 2017-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL: https://store.webkul.com/license.html/ -->
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced" style="max-width: 100%;">
        <h2 class="oe_slogan">Google Tag Manager</h2>
        <h3 class="oe_slogan">Manage all your tags without editing code. Google Tag Manager delivers simple, reliable, easily integrated tag management.</h3>
        <div class="oe_span12" style="max-width: 100%;">
          <div class="panel panel-primary">
            <div class="panel-body">

                <div class="alert alert-info">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <b> Features</b>
                </div>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check text-primary" style="margin-right:5px;"></i>Easily configure Google Tag Manager in odoo website. </li>
                    <li><i class="fa fa-check text-primary" style="margin-right:5px;"></i>Track & check analytics in Google analytics & many more. </li>
                    <li><i class="fa fa-check text-primary" style="margin-right:5px;"></i>Deploy Google and third-party tags.</li>
                    <li><i class="fa fa-check text-primary" style="margin-right:5px;"></i>Implemented Universal Analytics Enhanced Ecommerce features.</li>
                    <li><i class="fa fa-check text-primary" style="margin-right:5px;"></i>This module adds tags for Measuring Product Impressions, Product Clicks, Views of Product Details, Additions to a Shopping Cart, Checkout & Purchases.</li>
                    <li><i class="fa fa-check text-primary" style="margin-right:5px;"></i>Once module installed you can create & configure tags in Google Tag Manager panel for tracking website data.</li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="max-width: 100%;">
        <div class="oe_span12" style="max-width: 100%;">
            <div class="alert alert-info">
                <i class="fa fa-arrow-circle-o-right"></i>
                <b>What is <b><a href="https://marketingplatform.google.com/about/tag-manager/" target="new"> Google Tag Manager <i class="fa fa-external-link" aria-hidden="true"></i></a></b> ?</b>
            </div>
        </div>
        <div class="oe_span12" style="max-width: 100%;">
            <p>Google Tag Manager is part of <b><a href="https://marketingplatform.google.com" target="new"> Google Marketing Platform <i class="fa fa-external-link" aria-hidden="true"></i></a></b>. This is a tag management system that allows you to quickly and easily update tags and code snippets on your website. Once the Tag Manager snippet has been added to your website, you can configure tags via a web-based user interface without having to alter and deploy additional code. This reduces errors and frees you from having to involve a developer whenever you need to make changes.
            </p>
            <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;">
                <a href="screenshot/screenshot_001.jpg" target="_blank">
                    <img src="screenshot/screenshot_001.jpg" alt="Odoo Google Tag Manager">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row" style="max-width: 100%;">
        <div class="oe_span12" style="max-width: 100%;">
            <div class="alert alert-info">
                <i class="fa fa-arrow-circle-o-right"></i>
                <b>Google Tag Manager configuration</b>
            </div>
        </div>
        <div class="oe_span12" style="max-width: 100%;">
            <p>Setup an account in Google Tag Manager & get container id from the account. For more info <b><a href="https://support.google.com/tagmanager/answer/6103696?hl=en" target="new"> Click Here</a></b>.</p>
            <p>Simple configuration for back-end user which will be easily available from <b><i> Website > Settings > Website > Google Tag Manager</i></b>.</p>
            <p>Enable Google Tag Manager Setting & then fill container id.</p>
            <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;" >
                <a href="screenshot/screenshot_002.jpg" target="_blank">
                    <img src="screenshot/screenshot_002.jpg" alt="Odoo Google Tag Manager">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="max-width: 100%;">
        <div class="oe_span12" style="max-width: 100%;">
            <div class="alert alert-info">
                <i class="fa fa-arrow-circle-o-right"></i>
                <b>Tags for Enhanced Ecommerce.</b>
            </div>
        </div>
        <div class="oe_span12" style="max-width: 100%;">
            <p>Now create tags in google tag manager for tracking data.</p>
            <p>Check <b><a href="https://developers.google.com/tag-manager/enhanced-ecommerce" target="new"> Enhanced Ecommerce Guide <i class="fa fa-external-link" aria-hidden="true"></i></a></b> & create tags for below listed functionality.</p>
            <ul>
                <li>Product Impressions</li>
                <li>Product Detail Impressions</li>
                <li>Add to Cart</li>
                <li>Checkout</li>
                <li>Purchases</li>
            </ul>
            <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;">
                <a href="screenshot/screenshot_003.jpg" target="_blank">
                    <img src="screenshot/screenshot_003.jpg" alt="Odoo Google Tag Manager">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row" style="max-width: 100%;">
        <div class="oe_span12" style="max-width: 100%;">
            <div class="alert alert-info">
                <i class="fa fa-arrow-circle-o-right"></i>
                <b>Data in Google Analytics.</b>
            </div>
        </div>
        <div class="oe_span12" style="max-width: 100%;">
            <p>Now track and report website traffic google marketing and analytics platform.</p>
            <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;">
                <a href="screenshot/screenshot_004.jpg" target="_blank">
                    <img src="screenshot/screenshot_004.jpg" alt="Odoo Google Tag Manager">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="max-width: 100%;">
        <div class="oe_span12" style="max-width: 100%;">
            <div class="alert alert-info">
                <i class="fa fa-arrow-circle-o-right"></i>
                <b>Google Analytics Reporting.</b>
            </div>
        </div>
        <div class="oe_span12" style="max-width: 100%;">
            <p>Analytics helps you understand how people use your sites, so you can take action to improve their experience. </p>
            <ul>
                <li>
                    <h4><a href="https://support.google.com/analytics/answer/1012034" target="new"> Audience Reports <i class="fa fa-external-link" aria-hidden="true"></i></a> <i class="fa fa-hand-o-down" aria-hidden="true"></i></h4>
                    <p>Analytics offers many reports that can help you analyze, understand, and improve your online advertising efforts.</p>
                    <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;">
                        <a href="screenshot/screenshot_005.jpg" target="_blank">
                            <img src="screenshot/screenshot_005.jpg" alt="Odoo Google Tag Manager">
                        </a>
                    </div>
                </li><li>
                    <h4>Ecommerce Product Performance Reports <i class="fa fa-hand-o-down" aria-hidden="true"></i></h4>
                    <p>You can see product & it's revenue information, average order value, ecommerce conversion rate and other data.</p>
                    <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;">
                        <a href="screenshot/screenshot_006.jpg" target="_blank">
                            <img src="screenshot/screenshot_006.jpg" alt="Odoo Google Tag Manager">
                        </a>
                    </div>
                </li><li>
                    <h4>Ecommerce Sales Performance Reports<i class="fa fa-hand-o-down" aria-hidden="true"></i></h4>
                    <p>You can see product and transaction information, average order value, ecommerce conversion rate and other data.</p>
                    <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;">
                        <a href="screenshot/screenshot_007.jpg" target="_blank">
                            <img src="screenshot/screenshot_007.jpg" alt="Odoo Google Tag Manager">
                        </a>
                    </div>
                </li><li>
                    <h4>Ecommerce Product List Performance Reports<i class="fa fa-hand-o-down" aria-hidden="true"></i></h4>
                    <p>You can see product and transaction information, average order value, ecommerce conversion rate and other data.</p>
                    <div class="oe_demo oe_picture oe_screenshot" style="max-height: 100%;">
                        <a href="screenshot/screenshot_008.jpg" target="_blank">
                            <img src="screenshot/screenshot_008.jpg" alt="Odoo Google Tag Manager">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark lead">
    <div class="oe_row" style="max-width: 100%;">
            <div class="oe_span12" style="max-width: 100%;">
                <h2 class="oe_slogan">Complimentary Support</h2>
                <p>
                You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
                </p>
            </div>
    </div>
    <div class="oe_row oe_spaced" style="max-width: 100%;">
        <div class="oe_span12" style="max-width: 100%;">
            <h2 class="text-center">Help and Support</h2>
        </div>
        <br>
        <div class="oe_slogan oe_spaced">
            <span><a data-toggle="tooltip" data-placement="bottom" title="Get Instant Help !" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/"> <i class="fa fa-life-ring"></i> Help</a></span>
            <span><a data-toggle="tooltip" data-placement="bottom" title="Get Instant Support!" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-ticket"></i> Support</a></span>
            <span><a data-toggle="tooltip" data-placement="bottom" title="Request Features now !" target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-check-circle"></i> Request new Features</a></span>
        </div>
    </div>
</section><section class="oe_container">
    <div class="oe_span12" style="max-width: 100%;">
        <!-- Matomo Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=GOOGLE-TAG-MANAGER&url=https://apps.openerp.com/apps/modules/11.0/odoo_google_tag_manager&uid=odoo_google_tag_manager" style="border:0" alt="" />
        <!-- End Matomo -->
    </div>
</section>
