@media print {
    .pos .pos-sale-ticket{
            margin: 0;
            margin-left: auto !important;
            margin-right: auto !important;
            border: none !important;
            font-size: 13px !important;
            width: 761px !important;
    }
}