<div class="oe_styling_v8">
                        <div class="container">

<div class="row section-content">
    <div style="text-align: center; margin-top:30px; margin-bottom:30px;"><a href="https://www.appjetty.com/odoo-development.htm" style="display: inline-block; margin:auto; background: #875A7B; color: #fff; font-weight: bold; font-size: 18px; padding: 0 33px; line-height: 45px; border-radius: 5px;">Get Free Odoo Consultancy</a></div>
    <h1 class="bc-h1">Checkout Terms and Conditions
                </h1><h2 class="bc-h2 text-muted">Add Customizable Terms and Conditions on your checkout page, Avoid 
Sale Dispute 
</h2><br>
<p class="bc-h2 text-muted">Add as many content and features you want to add, making it completely easy to configure and manage from backend.</p><br>
              <h3 class="text-info" style="color:#315B8F;" align="center"><b>Front View of Terms and Condition </b></h3>
                   <div class="bc-span col-md-6" style="padding-left:0px;"><h5 align="center"><strong>This is how it will look at the front end of your site!</strong></h5><div class="inner-span"><img src="front-screen01.png" class="img-border img-responsive thumbnail"></div></div> 
                <div class="bc-span col-md-6" style="padding-left:0px;"><h5 align="center"><strong>This is how it will look at the front end of your site!</strong></h5><div class="inner-span"><img src="front-screen02.png" class="img-border img-responsive thumbnail"></div></div>
                <div class="bc-span col-md-6" style="padding-left:0px;"><h5 align="center"><strong>Display Terms and Conditions in Popup</strong></h5><div class="inner-span"><img src="front-screen03.png" class="img-border img-responsive thumbnail"></div></div> 
                <div class="bc-span col-md-6" style="padding-left:0px;"><h5 align="center"><strong>Display Terms and Conditions with Title</strong></h5><div class="inner-span"><img src="front-screen04.png" class="img-border img-responsive thumbnail"></div></div>

                             


</div>
<br/><hr/><br/>


<div class="row section-content">
 <h3 class="text-info" style="color:#315B8F;" align="center"><b>Manage Features from Backend</b></h3>
<div class="bc-span col-md-6" style="padding-left:0px;"><div class="inner-span"><img src="img02.png" class="img-border img-responsive thumbnail"></div></div> 
              <div class="col-md-6 img-content"> 
<h5><b>1. Disable Terms and Conditions Feature from Backend</b></h5>
<p style="margin-bottom:23px;">Check box of "Disable Terms and Conditions Feature" to disabled terms and conditions or else you can keep it enabled.</p>

<h5><b>2. Display Default Checkbox for Terms and Conditions</b></h5>
<p style="margin-bottom:23px;">This option will display the check box of terms and conditions by default &#8211; even if the customers want it or not.</p>

<h5><b>3. Disable Pop Up of Terms and Conditions </b></h5>
<p style="margin-bottom:23px;">Using this option you can disable the pop up feature of terms and condition or can also keep it enabled by not checking the box.  </p>

<h5><b>4. Add Hyper Link Content & Terms and Conditions Label </b></h5>
<p style="margin-bottom:23px;">Add content for hyperlink and Terms and Conditions.</p>
</div>

<div class="clearfix"></div>

 <div class="row section-content">
 <div class="col-md-6 img-content"> 
<h5><b>5. Support with translations feature</b></h5>
<p style="margin-bottom:23px;">Admin can Manage Multiple Language Translation.You can define languages for multiple stores from back end. </p>
</div>   
<div class="bc-span col-md-6" style="padding-left:0px;"><div class="inner-span"><img src="img01.png" class="img-border img-responsive thumbnail"></div></div>   
</div>
<br/><hr/><br/>
<!-- 
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="clearfix"></div>
        <h2 style="padding-bottom: 20px;" class="oe_slogan text-center text-info">You may also like</h2>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/10.0/checkout_suggested_product_slider">
                <img class="img-border img-responsive thumbnail" src="checkout-suggested-product-slider.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/9.0/website_multiple_product_image">
                <img class="img-border img-responsive thumbnail" src="website-multiple-product-images.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/10.0/product_tiered_pricing">
                <img class="img-border img-responsive thumbnail" src="product-tiered-pricing.png" />
            </a>
        </div>
    </div>
</section>

<div class="row section-content">
    <div class="col-md-6 img-content">
        <h3>Our Odoo Services</h3>
    </div>
    <div class="bc-span col-md-12">
        <div class="inner-span">
            <a href="https://goo.gl/sLNOeF" target="_blank">
                <img src="service-banner.png" class="img-border img-responsive thumbnail">
            </a>
        </div>
    </div> 
</div>

</div>
<div class="row section-content">


              <div class="col-md-12 img-content text-center">
              <h2>Technical Help &amp; Support</h2> <p style="margin: 30px 0px;">                  We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support <br> service is the parameter defining the success of our business and earning us the brand name.       <br>    Please feel free to contact us</p>
<div class="text-center"><a href="mailto:support@appjetty.com" rel="nofollow" class="btn btn-success btn-lg" style="background: #315b8f  none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: #315b8f;"> <i class="fa fa-envelope"></i>  support@appjetty.com </a></div><br></div></div> -->
                    </div>
<section class="tech-help-suport" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="tech-help-support.png" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-9">
                    <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-top: 0;">Technical Help &amp; Support</h3>
                    <p style="font-size: 16px; font-weight: 400; color: #21272b; margin: 40px 0 15px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support service is the parameter defining the success of our business and earning us the brand name. Please feel free to contact us</p>
                    <div class="tech-suport-inner" style="background: #f1f1f1; padding:20px">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="mailto:support@appjetty.com" style="display: block; position: relative; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none; margin-bottom: 10px;"><i class="fa fa-envelope" aria-hidden="true" style=" left: 0; font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px;"></i>support@appjetty.com</a>
                                <a href="skype:support.biztech" style="display: block; padding-left: 35px; position: relative; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;"><i class="fa fa-skype" aria-hidden="true" style=" font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px; left: 0;"></i>support.biztech</a>
                            </div>
                            <div class="col-md-6">
                                <a href="tel:14083299693" style="display: block; padding-left: 35px; position: relative; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;"><i class="fa fa-phone" aria-hidden="true" style=" font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px; left: 0;"></i>US : +1 (408) 329-9693</a>
                                <a href="tel:442038932693" style="display: block; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;">UK : +44 20 3893 2693</a>
                                <a href="tel:919106747559" style="display: block; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;">India : +91-91067 47559</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="e-odoo-theme text-center" style="padding:50px 20px; max-width: 1170px; background: #f1f1f1; margin: auto; margin-top: 50px;">
        <div class="container">
            <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 40px; margin-top: 0;">Our Odoo eCommerce Themes</h3>
            <div class="row">
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/theme_crafito" target="_blank"><img src="crafito-theme.jpg" class="img-responsive" alt="Crafito theme" style="margin: auto;"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Crafito</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/kingfisher_pro" target="_blank"><img src="kingfisher-theme.jpg" class="img-responsive" style="margin: auto;" alt="Kingfisher theme"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Kingfisher<br/>Pro Fashion</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/falcon_material_backend_theme/" target="_blank"><img src="falcon-theme.jpg" class="img-responsive" style="margin: auto;" alt="Falcon theme"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Falcon Material<br/>Backend Theme</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/theme_mobicraft" target="_blank"><img src="crafito-lite-theme.jpg" class="img-responsive" style="margin: auto;" alt=" Crafito lite theme"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">MobiCraft</h4>
                </div>
            </div>
            <div class="view-more-link">
                <a href="https://apps.odoo.com/apps/themes/browse?author=AppJetty" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;">View More</a>
            </div>
        </div>
    </section>
    <section class="e-odoo-apps text-center" style="max-width: 1170px; margin: auto; margin-top: 50px; margin-bottom: 50px;">
        <div class="container">
            <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 40px; margin-top: 0;">Our Odoo eCommerce Apps</h3>
            <div class="row">
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/biztech_website_megamenu" target="_blank"><img src="mega-menu-app.png" class="img-responsive" style="margin: auto;" alt="Mega Menu App"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Mega Menu</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/seo_data_manager" target="_blank"><img src="seo-suit-app.png" class="img-responsive" style="margin: auto;" alt="SEO suit app"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">SEO Suite</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/general_template" target="_blank"><img src="clever-a-o-report.png" class="img-responsive" style="margin: auto;" alt="Clever all in one report app"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Clever All In One<br/>Report Templates</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/biztech_report_template" target="_blank"><img src="clever-in-mul-templet.png" class="img-responsive" style="margin: auto;" alt="Clever all in one report app"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Clever Multiple<br/>Invoice Template</h4>
                </div>
            </div>
            <div class="view-more-link">
                <a href="https://apps.odoo.com/apps/modules/browse?author=AppJetty" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;">View More</a>
            </div>
        </div>
    </section>
    <section class="odoo-footer text-center" style="max-width: 1170px; margin: auto; background: #f1f1f1; padding: 50px 15px; margin-bottom: 50px;">
        <div class="container">
            <div class="row top-row">
                <div class="col-md-6" style=" border-right: 1px solid #e2e2e2;">
                    <img src="brand-logo.png" class="img-responsive" alt="Appjetty and biztech logo" style="display:inline-block;vertical-align: top;"/>
                </div>
                <div class="col-md-6 img-partner">
                    <img src="odoo-ready-partner.png" class="img-responsive" alt="Odoo partner logo" style="display:inline-block;vertical-align: top;"/>
                    <a href="https://clutch.co/profile/biztech-consulting-solutions" target="_blank" style="padding-left: 50px; display:inline-block; vertical-align: top;"><img src="clutch-review.png" class="img-responsive" alt="Clutch review"/></a>
                </div>
            </div>
            <div class="bottom-row" style="margin-top: 30px;"><hr style="border-top:1px solid #e2e2e2;" /></div>
            <div class="row footer-heading">
                <h3 class="center-contain" style=" font-size: 32px; font-weight: 700; color: #21272b; margin: auto; padding: 0 0 20px; ">Our Services</h3>
            </div>
            <div class="row footer-services toprow" style="text-align: left;">
                <div class="col-md-4">
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Website Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo App Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Implementation</h5>
                </div>
                <div class="col-md-4 foot-second-row">
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Customization</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Store Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Theme Development</h5>
                </div>
                <div class="col-md-4">
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Module Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Integration</h5>
                </div>
            </div>
            <div class="bottom-row" style="margin-top: 30px;"><hr style="border-top:1px solid #e2e2e2;"/></div>
            <div class="row footer-services lastrow" style="text-align: left;">
                <div class="col-md-4">
                    <div class="why-biz-ratio" style=" background: #03ade3; padding: 25px;  margin-top: 10px;">
                        <h3 style="margin-top: 0; font-size: 28px; font-weight: 700; color: #fff; margin-bottom: 20px;">Over 90% Retention Ratio for Clients</h3>
                        <p style="color: #ffffff; margin-bottom: 0;">We have successfully built and managed Odoo applications for over a decade. Our team of 155+ professionals and 30+ Odoo developers are committed to add value to your team.</p>
                    </div>
                </div>
                <div class="col-md-4 foot-second-row">
                    <h3 class="footer-heading" style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 35px;  margin-top: 10px;">Why Biztech?</h3>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>11+ Years of Experience</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Certified team of Odoo Developers</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>155+ Skilled Developers</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>100% Confidentiality (Strict NDA Terms)</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Ecommerce Experts</h5>
                </div>
                <div class="col-md-4">
                    <h3 class="footer-heading" style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 35px;  margin-top: 10px;">Odoo Benefits</h3>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Flexible Approach</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Customized Odoo Products</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Lower Set-up Costs</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Source Code Authorization</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Complete Control Over the Resources</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Security and IP Protection</h5>
                </div>
            </div>
            <div class="view-more-link">
                <a href="https://www.biztechcs.com/odoo-development" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;"> Here to Help You!</a>
            </div>
        </div>
    </section>
