<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Invoice Tripple  Process</b></h2>
            <h3 class="oe_slogan" style="opacity: 1;">This app helps you to tripple approval process for Customer Invoice  while validation of  invoice. 
         </h3>
        </div>
    </div>
</section>





<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12" style="width: 828px;">
            <div class="panel panel-primary" id="wkid0" style="border-color: #528df3 !important;">
            <div class="panel-heading" style="background-color: #528df3 !important;">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>Key Features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i> Invoice approval process: Invoice Manager -> Finance Manager  -> Director  </li>
                        
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>After Install,This App will add approval buttons on customer invoice based on configuration in invoice setting. Let's say First order approval configure 5000 and invoice is more then 5000 then it require approval for assign user and then in second approval configure 6000 then if invoice amount more then 6000 it will require two lavel approval process for assign user then in third approval configure 10000 then if invoice amount more then 10000 it will require three lavel approval process for assign user.. .</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can set three step verification approval process on Invoice</li>
                         <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can set a limit amount on Invoice as Two and Three Step Verification</li>
                          <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>If Order's Total Amount exceeds the pre-defined limit,then Flow will be Two Step invoice validation process.</li>
                          <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>If Order's Total Amount exceeds the pre-defined limit of three step,then Flow will be Three Step validation process.</li>
                       
                    </ul>
                </div>
                </div>
                </div>
        </div>
    </section>
    </section>

<br/>

<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span>How To Use</span></h4>
    </div>
</section>
<br>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
			<h3 class="text-info" style="font-size: 25px;">Once module is installed Only User with "Manager(Accounting)" groups can Confirm invoice  from 'First Approval' state and User with " Finance Manager (Accounting)" groups can Confirm invoice  from 'Second Approval' state .</h3>
            <br/>
            
              <h2>  <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Setup & Configure</span></h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="Administrator   Odoo.png">
            
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Configure Approval Amounts into invoice settings.</h3>
            <br/>
            
                <h2> <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Enable "Double and Tripple Approval"  to set Minimum Approval amounts.</span></h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="Settings   Odoo(1).png">
                <h2> <span class="text-info" style="padding-bottom: 10px;display: block;font-weight: 600;">Three Step can be enabled only when "Double Approval" is Enabled</span></h2>
                <h2> <span class="text-info" style="padding-bottom: 10px;display: block;font-weight: 600;">If Amount Total of invoice  will exceeds the limit of First Approval then flow will be Two Step</span></h2>
                <h2> <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">If Amount Total of invoice  will exceeds the limit of Second Approval then flow will be Three Step
                </span></h2>


        </div>
    </section>

<section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;"> Invoice User who don't  have any Approval Group .</h3>
            <br/>
           
             <h2>   <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Invoice will be into To Approve state after validate, because Total Amount of order is greater tha pre-defined First Approval Limit</span></h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="validate_button.png">
                <br/>
                
        </div>
    </section>
<section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Accounting Manager : Included into Accounting Manager(Accounting) group</h3>
            <br/>
                <h2>
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">invoice will be into Second Approval state after first approval, because Total Amount of invoice is greater tha pre-defined Second Approval Limit</span>
                </h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="approve_button.png">
                
            
        </div>
    </section>
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Finance Manager : Included into Finance Manager(Accounting) group</h3>
            <br/>
                <h2>
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Invoice will be into Third Approval  state after second approval.</span>
                </h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="second_approve.png">
                
                
            
        </div>
    </section>
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Director : Included into Director(Accounting) group</h3>
            <br/>
                <h2>
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Invoice will be into open   state after third approval.</span>
                </h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="third_approval.png">
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="open_state.png">
                
            
        </div>
    </section>
<!-- 
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h3 class="text-info" style="font-size: 25px;">Purchase Director : Included into Director(Purchase) Group </h3>
            <br/>
                <h2>
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Order will be Confirmed state, because if Second Approval is Enabled , only user with Second Approval Group can Confirm Purchase Order</span>
                </h2>
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="second_approv_button.png">
                <img  class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="purchase_order.png">
            
            
        </div>
    </section> -->


<!--  <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <br/>
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Product Bundle Filter in product kanban view.</span></li>
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">You can see product details in product bundle pack.</span></li>
                </ul>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="filter.png"/>
            </div>
        </div>
    </section> -->

    
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
                At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
                <div class="oe_row oe_spaced">
                        <div class="oe_span12">
                                <h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
                                        <a href="sales@browseinfo.in" style="color: #000000 !important;">
                                                Get Help &amp; Support</a>
                                </h2>
                        </div>
                        <br>
                        <div class="oe_slogan oe_spaced text-center">
                                <a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
                        </div>
                </div>
        </section>