<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Product Bundle All</b></h2>
<h3 class="oe_slogn"  style=" text-align: center;">This module is offering several products for sale as one combined product for POS and website. <br/><br/>It is a common feature in many imperfectly competitive product markets where price plays important roles.<br/><br/>Using these module you can act set competitive price for same or different products and variants to increase your sales graph.</h3>

        </div>
    </div>
</section>

<section class="container mt32">
    <div class="row">
        <h4  style=" text-align: center;"><span> <a href="" target="_blank" class="btn btn-sm btn btn-primary" ><span class="o_ripple" ></span><i class="fa fa-youtube-play"></i>
            Click here for the video tutorial
          </a></h4>
    </div>
</section>

<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12" style="width: 828px;">
            <div class="panel panel-primary" style="border-color: #528df3 !important;">
            <div class="panel-heading" style="background-color: #528df3 !important;">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>Key Features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
	                    <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can add product in bundle.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can add multiple products in one go.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can add different price for different product pack.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Separate seller's product collection and management.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can add direct discount on product pack.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can check stock on product pack.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Define an allowed quantity range for each bundled product.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Add variable products to bundles and enable only specific variations, if needed.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Bundle multiple instances of the same product.</li>
                      <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Boost your up-selling performance by offering kit versions of popular products paired with one or more related items.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success " style="background-color:#0000FF;"> <span class="fa fa-star fa-spin"></span>Product Bundle All</span></h4>
    </div>
</section>

<section class="oe_container">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#backend" data-toggle="tab">
                    <h3 class="panel-title"><i class="fa fa-user-md"></i> <b>Backend</b> </h3>
                </a>
            </li>
            <li>
                <a href="#webpos" data-toggle="tab">
                    <h3 class="panel-title"><i class="fa fa-internet-explorer"></i> <b>Website &amp; POS</b> </h3>
                </a>
            </li>
        </ul>
        <div id="browseinfo-tab" class="tab-content">
        	<div class="tab-pane active" id="backend">
    				<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Create Pack.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Create Product Pack.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="1_back_creation.png">
            </div>
        </div>
    </section>  
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>How to see Product Packs.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Now you can see pack is created , you can multiple packs with muliple pricelist.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="2_back_product_bundle.png">
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>How to Create Sale order.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You can add whole bundle in sale order once it is confirm sale order you can see delivery option.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="3_sale_order.png">
            </div>
        </div>
    </section>
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Delivery screen.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You just have to select one bundle for sale order and related products for this bundle will be automatically added in delivery screen.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="4_delivery.png">
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Additional Features.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Product Bundle Filter in product kanban view.<br/><br/>You can see product details in product bundle pack.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="5_ispack.png">
            </div>
        </div>
    </section>
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>You can not create variant for product bundle packs.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="6_variants.png">
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Special Configurable option to calculate "Bundle/Pack Price" for Pack with using the pack of the product. Also you can use default sales price too if you not ticked the pack price check box.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="7_calculate_price.png">
            </div>
        </div>
    </section>
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>You can set product bundle price by adding price in sale price.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="8_product_pack_price.png">
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Style for the Bundle product.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You can create product bundle by selecting products also define Point Of Sale category.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="9_config.png">
            </div>
        </div>
    </section>
          </div>

	        <div class="tab-pane" id="webpos">

            <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Website View.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">View of the bundle products in the main website page.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="1_ribbon_pack.png">
            </div>
        </div>
    </section>
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Bundle Product View.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Button for the display details of the products in the pack.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="2_web_product.png">
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Bundle Details.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Details of all the products of the bundle will be displayed like unit price and quantities in the Bundle.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="3_product_pack.png">
            </div>
        </div>
    </section>
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>POS Screen and Category for Product Pack.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">In Point Of sale,You can see all created POS Product Pack.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="1_pos_products.png">
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="2_product_pack_pos.png">
            </div>
        </div>
    </section>       
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Product pack details.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Here you can see detailed view of product which you defined in pack product.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="3_pos_selecton.png">
            </div>
        </div>
    </section>
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>POS Payment Receipt.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="4_print.png">
            </div>
        </div>
    </section>
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>POS Order.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">While we create POS order for any pack product, In order line only that product pack will be entered.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="5_pos.png"><br/><br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="6_pos.png"><br/>
            </div>
        </div>
    </section>        
    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Picking view of POS order for pack product.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">Picking for that POS order contains the products related to that product pack in POS order.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="7_pos.png">
            </div>
        </div>
    </section>
          </div>

		    </div>
    </section>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
        At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
                    <a href="sales@browseinfo.in" style="color: #000000 !important;">
                        Get Help &amp; Support</a>
                </h2>
            </div>
            <br>
            <div class="oe_slogan oe_spaced text-center">
                <a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
            </div>
        </div>
</section>
