<div class="oe_styling_v8" style="padding-top: 0px;">
    <section class="oe_container oe_dark">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="color: #005581;">
                Website reCAPTCHA for Login, Signup, Contactus
            </h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #005581;">
                reCAPTCHA is a free service that protects your website from spam and abuse. reCAPTCHA uses an advanced risk analysis engine and adaptive CAPTCHAs to keep automated software from engaging in abusive activities on your site. It does this while letting your valid users pass through with ease.
                <br /><br />
                reCAPTCHA offers more than just spam protection. Every time our CAPTCHAs are solved, that human effort helps digitize text, annotate images, and build machine learning datasets. This in turn helps preserve books, improve maps, and solve hard AI problems.
            </h3>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2 class="oe_slogan" style="color: #005581; font-size: 30px;">
                        Why ODOO Website reCAPTCHA Module?
                    </h2>
                    <p class="oe_mt32" style="font-size: 18px;">
                        There is one reason, this module provide you enable/disable reCAPTCHA any time for Login, Signup and Contact Us form. Easy and clean nut to use with any other customized modules.
                    </p>
                </div>
            </div>
            <br />
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2 class="oe_slogan" style="color: #005581;">
                        Customer/Guest Users Features
                    </h2>
                    <p class="oe_mt32" style="font-size: 18px;">
                        Customer/Guest user login/signup/contactus form fill with solve reCAPTCHA to insure that they are not a robot.
                    </p>
                </div>
            </div>
            <br />
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2 class="oe_slogan" style="color: #005581;">
                        Admin Features
                    </h2>
                    <ul class="list-unstyled" style="font-size: 18px;">
                        <li style="margin-bottom: 7px;">
                            <i class="fa fa-angle-double-right" style="color: #005581;"></i> 
                            Enable/Disable reCAPTCHA anytime from backend settings.
                        </li>
                        <li style="margin-bottom: 7px;">
                            <i class="fa fa-angle-double-right" style="color: #005581;"></i>
                            View track reCAPTCHA report from Google reCAPTCHA Admin Panel.
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2 class="oe_slogan" style="color: #005581;">
                        Installation &amp; Configuration
                    </h2>
                    <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                        1.) Install Module
                    </h2>
                    <p class="oe_mt16" style="font-size: 18px;">
                        Install the <i>ff_website_recaptcha</i> module.
                    </p>
                    <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                        2.) Obtain Site key and Private key
                    </h2>
                    <p class="oe_mt0" style="font-size: 18px;">
                        You have to Register a new site on <i>Google ReCAPTCHA</i>. Later you'll get site key and private key that you have to copy.
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="1_1.png" alt="Obtain Site key and Private key" />
                    </p>
                    <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                        3.) Enter Site key and Private key into Odoo Website Setting
                    </h2>
                    <p class="oe_mt0" style="font-size: 18px;">
                        In Odoo, navigate to Website &raquo; Setting &raquo; reCAPTCHA &raquo; Enter your <i>site key</i> and <i>private Key</i>.
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="1_2.png" alt="Enter Site key and Private key" />
                    </p>
                </div>
            </div>
            <br />
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2 class="oe_slogan" style="color: #005581;">
                        Screenshots
                    </h2>
                    <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                        1.) Login Page
                    </h2>
                    <p>
                        <img class="oe_picture oe_screenshot" src="1_3.png" alt="Login Page" style="margin-left: auto; margin-right: auto;" />
                    </p>
                    <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                        2.) Signup Page
                    </h2>
                    <p>
                        <img class="oe_picture oe_screenshot" src="1_4.png" alt="Signup Page" style="margin-left: auto; margin-right: auto;" />
                    </p>
                    <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                        3.) Contact Us Page
                    </h2>
                    <p>
                        <img class="oe_picture oe_screenshot" src="1_5.png" alt="Contact Us Page" style="margin-left: auto; margin-right: auto;" />
                    </p>
                </div>
            </div>
            <br />
        </div>
    </section>

    <section class="oe_container">
        <div class="text-center">
            <div class="col-md-12">
                <h2 class="oe_slogan" style="color: #005581;">
                    Help &amp; Support
                </h2>
                <h3 class="oe_slogan" style="font-size: 24px; color: #005581;">
                    Any type of issue related to this module, any doubt, any queries contact us.
                </h3>
                <div class="text-center">
                    <a style="color: rgb(255, 255, 255); border: 1px solid rgb(232, 76, 61); position: relative; overflow: hidden; background-color: rgb(232, 76, 61);" class="btn btn-success btn-lg" rel="nofollow" href="mailto:forfens.com@gmail.com" target="_blank">
                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;forfens.com@gmail.com
                    </a>
                </div>
                <h3 class="oe_slogan" style="font-size: 24px; color: #005581;">
                    Odoo Technical Help, Support, Request any features give us the opportunity to service you better and improve our solution on a continuous basis.
                </h3>
            </div>
        </div>
    </section>
</div>
