<section class="oe_container lead bi_title_box">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan bi_title" style="color:#5082c4;">
                <b>Invoice Double Approval Process in Odoo</b>
            </h2>
            <p class="oe_slogan">
        This app helps you to have two step approval process for Customer invoice while validation of invoice in Odoo.
</h3>
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: #201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
        </div>
        <div class="oe_span6">
            
            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/limit11.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Allows user for double approval</b></h4>
                    <span class="oe_slogan">User case set the limit of amount for approval and could see multiple stages of approval as he/she install the module.</span>
                </div>
            </div>

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/limit2.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Use can set amount limit for approval.</b></h4>
                    <span class="oe_slogan">You can set a limit amount on invoice as two and three step verification</span>
                </div>
            </div>
            </div> 
        <div class="oe_span6"> 

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/limit3.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>User can set invoice approval process</b></h4>
                    <span class="oe_slogan">You can set three step verification approval process on invoice.</span>
                </div>
            </div>

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/limit4.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Validation process can vary.</b></h4>
                    <span class="oe_slogan">If Order's Total Amount exceeds the pre-defined limit of two step,then Flow will be Three step validation process, if not then two step validation process.</span>
                </div>
            </div>   
       
        </div>
    </div>
</section>

           
<section class="oe_container lead mt64">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 mr8" title="Website" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://browseinfo.in/contact-us/" target="_blank"> Demo Request </a>
            <a class="btn mt8 ml8" title="Email on Support" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/K_84dT6pdvM" target="_blank"> Video Tutorial</a>
        </div>
    </div>
</section>



<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Setup and Configuration
</p>
        <p class="oe_slogan">Once module is installed only user with "Manager(Accounting)" groups can confirm invoice  from 'First Approval' state and user with " Finance Manager (Accounting)" groups can confirm invoice  from 'Second Approval' state.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="tru3.png">
        </div>
    </div>
</section>



<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Configure Approval Amounts into invoice settings.
</p>
        <p class="oe_slogan">Enable "Double Approval" to set minimum approval amounts.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="tru4.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan"> Three Step can be enabled only when "Double Approval" is enabled
        If Amount Total of invoice will exceeds the limit of First Approval then flow will be two step.
        If Amount Total of invoice will exceeds the limit of Second Approval then flow will be three step.

        Invoice will be into To Approve state after validate, because total amount of order is greater tha pre-defined First Approval limit</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="tru5.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
        <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Invoice User who don't have any Approval Group.</p>
        <p class="oe_slogan">Invoice will be into Second Approval state after first approval, because Total Amount of invoice is greater tha pre-defined Second Approval limit</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="tru6.png">
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Finance Manager : Included into Finance Manager(Accounting) group</p>
        <p class="oe_slogan">Invoice will be into Open Approval state after second approval.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="tru2.png">
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="tru1.png">

        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Apps May You Like</b></p>
        </div>
         <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_sale_purchase_invoice_discount/">
                <img class="img img-responsive" src="related/sale_purchase_discount.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_sale_purchase_invoice_discount/">
                <img class="img img-responsive" src="related/1.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_sale_stock_check/">
                <img class="img img-responsive" src="related/Banner_sale_stock_check.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/barcode/">
                <img class="img img-responsive" src="related/barcode.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/customer_account_payment_followup/">
                <img class="img img-responsive" src="related/2.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/stock_move_cancel/">
                <img class="img img-responsive" src="related/move_cancel.png" style="width: 100%;"/>
            </a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Most Demanded Apps</b></p>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
                <img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
                <img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_reports/">
                <img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
                <img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
                <img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/branch/">
                <img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
            </a>
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan" style="font-size: 18px;">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<div class="img img-responsive text-center">
                <a href="http://www.browseinfo.in" target="new">
                    <img src="bi_logo.png">
                </a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
            <a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in" target="_blank">Email on Support</a>
            <a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
        </div>
	</div>
</section>




