 <!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>)  -->
 <!-- See LICENSE file for full copyright and licensing details.  -->
 <!-- License URL : https://store.webkul.com/license.html/  -->

 <section class="oe_container oe_dark lead">
    <h2 class="oe_slogan" style="color: rebeccapurple;">Website: Product Review After Purchase</h2>
    <div class="row">    
        <div class='span12'>
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-body">
                    <div class="alert alert-info">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <b> Basic Features </b>
                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> Add review feature from odoo website.</li>
                        <li><i class="fa fa-check text-primary"></i> Admin can create multiple Review configuration settings, but only one can be active at a time.</li>
                        <li><i class="fa fa-check text-primary"></i> Configure Review settings based on order status. </li>
                        <li><i class="fa fa-check text-primary"></i>Automatic mail will be sent to the customer after product purchase. </li>
                        <li><i class="fa fa-check text-primary"></i> Admin can manage review from odoo admin panel.</li>
                        <li><i class="fa fa-check text-primary"></i>Registered user can add a review from odoo website.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container  oe_dark">
    <div class="row">    
        <div class='span12'>
            <div class="panel panel-info" >
                    <div class="panel-heading " style="font-size: 22px;">
                            <i class="fa fa-pencil-square-o "/></i><b> Workflow  </b></h3>
                        </div>
                <div class="panel-body">
                    <section class="oe_container  lead">  
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Webkul Website Addons Page </b></div>
                            <a href="1.png">
                                <img class="img-border img-responsive thumbnail" src="1.png">
                            </a>
                    </section>
                    <section class="oe_container  lead">  
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Create a Product Review After Purchase Settings</b></div>
                            <a href="2.png">
                                <img class="img-border img-responsive thumbnail" src="2.png">
                            </a>
                    </section>
                    <section class="oe_container  lead">  
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Tree View for a Product Review After Purchase Settings </b></div>
                            <a href="3.png">
                                <img class="img-border img-responsive thumbnail" src="3.png">
                            </a>
                    </section>
                    <section class="oe_container  lead">  
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Email Template Preview </b></div>
                            <a href="4.png">
                                <img class="img-border img-responsive thumbnail" src="4.png">
                            </a>
                    </section>
                    <section class="oe_container  lead">  
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Your Review Page </b></div>
                        <h4 class="oe_slogan">
                            Integrate reviews with your products
                        </h4>
                            <a href="5.png">
                                <img class="img-border img-responsive thumbnail" src="5.png">
                            </a>
                            <a href="6.png">
                                <img class="img-border img-responsive thumbnail" src="6.png">
                            </a>
                    </section>
                    <section class="oe_container  lead">  
                        <div class="panel-heading alert alert-success"><i class="fa fa-hand-o-right" ></i><b> Average rating for every product </b></div>
                            <a href="7.png">
                                <img class="img-border img-responsive thumbnail" src="7.png">
                            </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>  

          

<section class="oe_container">
    <div class=''>
        <div class='span12'>
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
    <div class="row oe_spaced">
        <div class="span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE:-PRODUCT-REVIEW-AFTER-PURCHASE&url=https://apps.openerp.com/apps/modules/12.0/review_after_purchase&uid=review_after_purchase" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
