#imgtoggle {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #a3a3a3;
    box-shadow: 0px 0px 6px #d7d7d7;
}


#iconShare{
cursor: pointer;
display: inline-block;
position: relative;
}

#layerDiv{
color: #000;
position: absolute;
z-index: 50;
cursor: pointer;
width: 100px;
background-color: #ffffff;
box-shadow: 0px 0px 6px #d7d7d7;
display: none;
}


#layerDiv > img {
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.wkBigContent {
    margin-top : 5px;
    margin-bottom: -11px;
}

.wkContent {
    padding : 8px;
    display : inline;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
}

.wkContent > img {
    margin-left: 10px;
}
